.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    /* place-items: center; */
}

.product {
    border: 0.5px solid rgba(255, 255, 255, 0.3); /* Subtle border effect */
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    backdrop-filter: blur(10px); /* Glass effect through blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Spacing inside the product box */
    color: #1b1919; /* Text color for readability */
    font-family: Arial, sans-serif; /* Optional: change font style */
}


.btn-container{
    display: flex;
    width: 95vw;
    justify-content: center;
}

.btn-container button{
    padding: 15px 25px;
    border-radius: 5px;
    outline: none;
    border:3px solid black;
    background-color: orangered;
    color: #fff;
    font-size: larger;
    
}